In [1]:
from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
from Bio import SeqIO
import pandas as pd
from Bio.Seq import Seq
from typing import List, Dict, Union

from Bio.Seq import Seq
from Bio.SeqRecord import SeqRecord
from Bio import SeqIO
import pandas as pd
from Bio.Seq import Seq
from typing import List, Dict, Union

In [2]:
nucleotide_list = [list("ATGC")]*5
print(nucleotide_list)

[['A', 'T', 'G', 'C'], ['A', 'T', 'G', 'C'], ['A', 'T', 'G', 'C'], ['A', 'T', 'G', 'C'], ['A', 'T', 'G', 'C']]

In [3]:
from teemi.design.combinatorial_design import get_combinatorial_list

In [4]:
# make all combinations
kozak = get_combinatorial_list(nucleotide_list)

In [24]:
# Make them into strings

def make_to_string(list_of_list):
    all_combinations_as_str = []
    nuc_seq = ''
    for sp in list_of_list: 
        for seq in sp: 
            nuc_seq += seq
        
        all_combinations_as_str.append(nuc_seq)
        nuc_seq = ''

    return all_combinations_as_str


all_combinations_as_str = make_to_string(kozak)

In [6]:
five_prime = 'TATATTCCACAAAACATAACACAACCT'
three_prime = 'ATGGCCTCCTCCGAGGACGTCATCAAGG'

In [25]:
five_prime_list = [[five_prime]] * len(all_combinations_as_str)
three_prime_list = [list(three_prime)] * len(all_combinations_as_str)


# to string
five_prime_list = make_to_string(five_prime_list)
three_prime_list = make_to_string(three_prime_list)

In [26]:
muy_dict = {'five':five_prime_list, "kozak":all_combinations_as_str, "three":three_prime_list}

In [27]:
kozak_df = pd.DataFrame(muy_dict)
kozak_df

       five  kozak  three
0     AAAAA  AAAAA  AAAAA
1     AAAAT  AAAAT  AAAAT
2     AAAAG  AAAAG  AAAAG
3     AAAAC  AAAAC  AAAAC
4     AAATA  AAATA  AAATA
...     ...    ...    ...
1019  CCCGC  CCCGC  CCCGC
1020  CCCCA  CCCCA  CCCCA
1021  CCCCT  CCCCT  CCCCT
1022  CCCCG  CCCCG  CCCCG
1023  CCCCC  CCCCC  CCCCC

[1024 rows x 3 columns]

In [28]:
kozak_df = pd.DataFrame({'kozak_seq':all_combinations_as_str })
kozak_df

     kozak_seq
0        AAAAA
1        AAAAT
2        AAAAG
3        AAAAC
4        AAATA
...        ...
1019     CCCGC
1020     CCCCA
1021     CCCCT
1022     CCCCG
1023     CCCCC

[1024 rows x 1 columns]

In [ ]:
list_of_all_combinations = []
for i in range(len(all_combinations_as_str)): 
    sp = SeqRecord(all_combinations_as_str[i])
    sp.description, sp.name, sp.id  = "" , i, str(i)
    
    
    list_of_all_combinations.append(sp)